@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

Body{
    background-position: top, black;
    background-color: rgb(29, 25, 25);
    height: 100vh;
    margin: 140px;
    padding: 20px; 
    margin-top: 190px;   
}

h1.title {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 59px;
}


.logon-content   {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    list-style: none;
  

} 


ul.logon-content  p {
    color: lightgrey;
    text-align: center;
    transition: all 300 ease;
    font-size: 19px;

}

ul.logon-content  p:hover {
    cursor: pointer;
    color: white;
}

ul.logon-content .logon-item img{
    
    height: 160px;
    width: 160px;
    border-radius: 5px;
    align-content: center;
    margin: 30px 12px 15px;
    transition: all 500 ease;
}
ul.logon-content .logon-item img:hover {
    cursor: pointer;
    border: 3px solid white ;
} 
#logon {
    text-align: center;
}

.btn-primary{
    background-color:  rgb(29, 25, 25);
    color: rgb(142, 132, 132);
    font-size: 18px;
    margin-top: 80px;
    border: 0.8px solid ;
    border-color:rgb(142, 132, 132) ;
    cursor: pointer;
    padding: 10px 33px;
    transition: all 300 ease;

}

.btn-primary:hover {
    border: 2px solid white;
    color: white;

}
